



/* row animation */
@-webkit-keyframes row_move{
  0%    {width:0%;}
  100%  {width:100%;}
}
@-moz-keyframes row_move{
  0%    {width:0%;}
  100%  {width:100%;}
}
@keyframes row_move{
  0%    {width:0%;}
  100%  {width:100%;}
}

/* column animation */
@-webkit-keyframes col_move{
  0%    {height:0%;}
  100%  {height:100%;}
}
@-moz-keyframes col_move{
  0%    {height:0%;}
  100%  {height:100%;}
}
@keyframes col_move{
  0%    {height:0%;}
  100%  {height:100%;}
}

/* border animation */
@-webkit-keyframes border_move{
  0%    {height:0%;width:0%;}
  100%  {height:100%;width:100%;}
}
@-moz-keyframes border_move{
  0%    {height:0%;width:0%;}
  100%  {height:100%;width:100%;}
}
@keyframes border_move{
  0%    {height:0%;width:0%;}
  100%  {height:100%;width:100%;}
}

/* default animation */
@-webkit-keyframes default_move{

}
@-moz-keyframes default_move{

}
@keyframes default_move{

}





/* icon hover rotate effect */
@-webkit-keyframes turn{
  0%    {transform:rotate(0deg);}
  25%   {transform:rotate(5deg);}
  75%   {transform:rotate(0deg);}
  100%  {transform:rotate(-5deg);}
}
@-moz-keyframes turn{
  0%    {transform:rotate(0deg);}
  50%   {transform:rotate(5deg);}
  75%   {transform:rotate(0deg);}
  100%  {transform:rotate(-5deg);}
}
@keyframes turn{
  0%    {transform:rotate(0deg);}
  50%   {transform:rotate(5deg);}
  75%   {transform:rotate(0deg);}
  100%  {transform:rotate(-5deg);}
}
