/* global declarations */
html, body{
  margin:0;
  padding:0;
  font-family:'Open Sans';
}
a{
  text-decoration:none;
  color:inherit;
}
/* END global declarations */
.side-nav{
  width:15%;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  background:#fff;
  z-index: 100;
  box-shadow:0px 2px 10px #555;
}
.logo{
  width:100%;
  margin:0 auto;
}
.nav{
  width: 100%;
  margin:0 auto;
  position:absolute;
  top:30%;
  left:0;
}
.nav a{
  width:100%;
  text-align:center;
  display:block;
  font-size:18px;
  font-weight:300;
  color: #bbb;
  padding:5px 0;
  margin:20px 0;
}
.nav a:hover{
  color: #444;
}
.master-container{
  width:85%;
  position:absolute;
  top:0;
  right:0;
}
.master-header{
  background-image:url('../img/250H.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:top right;
  background-attachment:fixed;
  height:50vh;
  -webkit-filter: greyscale(50%);
  filter: greyscale(5);
  position:relative;
}
.master-title{
  font-size:50px;
  color:#222;
  position:absolute;
  bottom:15%;
  right:5%;
}
.master-kicker{
  font-size:30px;
  color:#222;
  position:absolute;
  bottom:5%;
  right:5%;
}
.master-about{
  width: 80%;
  margin:8% auto 0 auto;
}
.master-about .img{
  height:100px;
  width:100px;
  border-radius:100%;
  background:#0ab4ab;
  margin: 5% 0 5% 0;
}
.master-about-content span{
  font-weight:700;
}
.toolbelt{
  width:100%;
  margin:10% auto 20% auto;
}
.toolbelt-title{
  color:#222;
  font-size: 22px;
}
.tool{
  display:inline-block;
  width:20%;
  margin:2%;
}
.tooltype{
  font-size: 20px;
  font-family:'Raleway';
  color:#ccc;
  text-align:center;
}
.toolimg{
  text-align:center;
}
.toolimg i{
  font-size:80px;
  color:#0ab4ab;
  margin-bottom: 15%;
}
.master-blogs-quickview{
  position:relative;
  height:110vh;
  background: #AA076B;
  background: -webkit-linear-gradient(to left, #AA076B , #61045F);
  background: linear-gradient(to left, #AA076B , #61045F);
}
.master-blogs-title-container{
  color:#fff;
  font-weight:300;
  font-size: 30px;
  padding:5%;
  text-align:right;
}
.blog-box{
  height:400px;
  width:30%;
  background:white;
  padding:5%;
  box-shadow:0px 2px 10px #555;
  border-radius:10px;
  display:inline-block;
}
.blog-title{
  font-size:26px;
  text-align:center;
  color:#aaa;
  margin:15px;
}
.content{
  height:250px;
  overflow:hidden;
}
.more-btn{
  background: #AA076B;
  padding:10px 20px;
  color:white;
  border-radius:5px;
  text-align:center;
  margin-top:10%;
  width:30%;
  margin: 5% auto 0 auto;
}
/* blog positions */
.top{
  position:absolute;
  top:21%;
  left:5%;
  z-index: 3;
}
.middle{
  position:absolute;
  top:22%;
  left:30%;
  z-index: 2;
}
.bottom{
  position:absolute;
  top:23%;
  left:55%;
  z-index: 1;
}
.blur{
  filter:blur(1px);
  -webkit-filter:blur(1px);
}
/* END blog positions */

.master-contact{
  height: 325px;
  background: #B24592;
  background: -webkit-linear-gradient(to left, #B24592 , #F15F79);
  background: linear-gradient(to left, #B24592 , #F15F79);
  position:relative;
}
.master-contact a{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%);
  font-size:40px;
  color:white;
}
