

/* half circle menu thingy */
.pull-me{
  display:block;
  z-index: 100;
  position:fixed;
  top:0;
  left:50%;
  height:40px;
  width:auto;
}
.pull-me img{
  position:absolute;
  top:50%;
  left:50%;
  padding:20px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  background:rgba(0,0,0,0.2);
  box-shadow:1px 1px 6px #111;
  display:block;
  height:40px;
  width:40px;
  margin:-20px 0 0 -35px;
}
.right-side nav img{
  height:60px;
  width:60px;
  border-radius:6px;
}
.right-side nav img:hover{
  animation: turn .2s infinite;
}
.left-side nav img{
  height:60px;
  width:60px;
  border-radius:6px;
}
.left-side nav img:hover{
  animation: turn .2s infinite;
}
/* add greyouts for the buttons */
.greyout_col{
  height:60px;
  width:60px;
  background-image:url('../img/change/column_icon.jpg');
  background-color:grey;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  cursor:default;
}
.greyout_row{
  height:60px;
  width:60px;
  background-image:url('../img/change/row_icon.jpg');
  background-color:grey;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  cursor:default;
}
.greyout_border{
  height:60px;
  width:60px;
  background-image:url('../img/change/border_icon.jpg');
  background-color:grey;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  cursor:pointer;
}

/* END grayouts */

/* end half cirle menu thingy */

/* screen-divider changer */
.changer{
  display:none;
  height:100px;
  width:100%;
  background:rgba(0,0,0,0.4);
}
.icon-pos{
  position:absolute;
  top:100px;
  z-index: 10;
}
/* end screen-divider changer*/
