.master-projects{
  height: 120vh;
  width:80%;
  margin:0 auto;
}
.master-projects-title-container{
  color:#b24592;
  font-weight:300;
  font-size: 30px;
  padding:5%;
  text-align:right;
}
.projects-container{
  position:relative;
  height:100%;
  width:100%;
  margin:0 auto;
}
.project{
  overflow:hidden;
  width:100%;
}

/* project layouts */

.large{
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:50%;

  /* image */
  background-image:url('../img/akl.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
.project.large > .project-details{
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.9);
  color:white;
  position:absolute;
  top:-100%;
  transition:top .2s ease-in-out;
}
.project.large:hover > .project-details{
  position:absolute;
  top:0;
  transition:top .2s ease-in-out;
}
.small{
  position:absolute;
  top:0;
  left:50%;
  height:25%;
  width:25%;
  background:red;

  /* image */
}
.project.small > .project-details{
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.9);
  color:white;
  position:absolute;
  left:-100%;
  transition:left .2s ease-in-out;
}
.project.small:hover > .project-details{
  position:absolute;
  left:0;
  transition:left .2s ease-in-out;
}

.portrait{
  position:absolute;
  top:25%;
  left:50%;
  height:50%;
  width:25%;
  background:blue;

  /* image */
}
.project.portrait > .project-details{
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.9);
  color:white;
  position:absolute;
  bottom:-100%;
  transition:bottom .2s ease-in-out;
}
.project.portrait:hover > .project-details{
  position:absolute;
  bottom:0;
  transition:bottom .2s ease-in-out;
}
.project.large > .project-details >
.project-title,

.project.small > .project-details >
.project-title,

.project.portrait > .project-details >
.project-title,

.project.landscape > .project-details >
.project-title,

.project.top-half > .project-details >
.project-title,

.project.bottom-half > .project-details >
.project-title{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%);
  font-size:24px;
  border:3px solid white;
  padding:10px;
  box-sizing: border-box;
}

.landscape{
  position:absolute;
  top:50%;
  left:0;
  height:25%;
  width:50%;
  background:orange;

  /* image */
}
.project.landscape > .project-details{
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.9);
  color:white;
  position:absolute;
  right:-100%;
  transition:right .2s ease-in-out;
}
.project.landscape:hover > .project-details{
  position:absolute;
  right:0;
  transition:right .2s ease-in-out;
}


.top-half{
  position:absolute;
  top:0;
  left:75%;
  height:50%;
  width:25%;
  background:#0099ff;

  /* image */
}
.project.top-half > .project-details{
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.9);
  color:white;
  position:absolute;
  top:-100%;
  transition:right .2s ease-in-out;
}
.project.top-half:hover > .project-details{
  position:absolute;
  top:0;
  transition:top .2s ease-in-out;
}



.bottom-half{
  position:absolute;
  top:50%;
  left:75%;
  height:25%;
  width:25%;
  background:#ff0099;

  /* image */
}
.project.bottom-half > .project-details{
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.9);
  color:white;
  position:absolute;
  bottom:-100%;
  transition:bottom .2s ease-in-out;
}
.project.bottom-half:hover > .project-details{
  position:absolute;
  bottom:0;
  transition: bottom .2s ease-in-out;
}

/* END project layouts */
