.master-projects{
  height: 120vh;
  width:80%;
  margin:0 auto;
}
.master-projects-title-container{
  color:#b24592;
  font-weight:300;
  font-size: 30px;
  padding:5%;
  text-align:right;
}
.projects-container{
  position:relative;
  height:100%;
  width:100%;
  margin:0 auto;
}

/* project layouts */

.large{
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:50%;

  /* image */
  background-image:url('../img/akl.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
.


.small{
  position:absolute;
  top:0;
  left:50%;
  height:25%;
  width:25%;
  background:red;

  /* image */
}



.portrait{
  position:absolute;
  top:25%;
  left:50%;
  height:50%;
  width:25%;
  background:blue;

  /* image */
}



.landscape{
  position:absolute;
  top:50%;
  left:0;
  height:25%;
  width:50%;
  background:orange;

  /* image */
}



.top-half{
  position:absolute;
  top:0;
  left:75%;
  height:50%;
  width:25%;
  background:#0099ff;

  /* image */
}



.bottom-half{
  position:absolute;
  top:50%;
  left:75%;
  height:25%;
  width:25%;
  background:#ff0099;

  /* image */
}




/* END project layouts */
