body, html{
  width:90%;
  margin:0 auto;
  font-family:'Open Sans';
  font-weight:400;
  text-align:center;
  background:#fffff2;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

header{
  height:768px;
}
.main_logo{
  color:#566271;
  font-size:70px;
  font-weight:bold;
  letter-spacing:-0.2em;
}

.main_nav{
  color:#cfcfcf;
  font-size:24px;
  font-weight:300;
  margin:30px 0 60px 0;
}
.main_nav .active{
  color:#566271;
  font-weight:400;
}
.main_nav a{
  color:inherit;
  text-decoration:none;
  margin:0 30px;
}
.desk_bg{
  background:#566271;
  padding:25px 0 0 0;
}
#about{
  height:375px;
  margin:20px 0;
}
.about_title{
  font-size:24px;
  color:#566271;
  font-weight:300;
  margin-bottom:50px;
}
.about_desc{
  width:85%;
  margin:0 auto;
  color:#cfcfcf;
  font-size:22px;
  line-height:180%;
}
#toolbelt{
  height:650px;
  background:#566271;
}
.toolbelt_title{
  color:#fffff2;
  font-size:24px;
  padding:50px 0;
  font-weight:300;
}
.cap, .pencils, .paper{
  width:30%;
  height:40%;
  text-align:center;
  display:inline-block;
  vertical-align:top;
  margin-top:60px;
}
.bag div img{
  height:80px;
  width:auto;
}
.bag_title{
  color:#e0e3da;
  font-size:20px;
}
.bag_desc{
  color:#404853;
  font-size:16px;
  width:80%;
  margin:20px auto;
  line-height:180%;
}
#work{
  height:768px;
}
.work_title{
  font-size:24px;
  color:#566271;
  font-weight:300;
  margin:70px 0 50px 0;
}
.project{
  height:300px;
  width:45%;
  background:#e0e3da;
}
.project:first-child{
  float:left;
}
.project:last-child{
  float:right;
}
