








body{
  margin:0;
  padding:0;
}

.screen-divider{
  position:fixed;
  display:block;
  height:100vh;
  width:100%;
  box-shadow:2px 2px 12px #111;
}




.def-top-left{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:50%;
  background:#ff89fd;
  position:relative;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
}
.def-bottom-left{
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  width:50%;
  height:50%;
  z-index: 3;
  background:#d5eeff;
  box-shadow:3px 3px 6px #777;
}
.def-top-right{
  display:block;
  position:absolute;
  top:0;
  right:0;
  height:50%;
  width:50%;
  z-index: 2;
  background:#78BBE6;
  box-shadow:3px 3px 6px #666;
}
.def-bottom-right{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  height:50%;
  width:50%;
  z-index: 1;
  background:#1B435D;
  box-shadow:3px 3px 6px #555;
}





/* views: quarter(default), column, row, border */


/* START column view */

.col-top-left{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:25%;
  background:#ff89fd;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
  animation:col_move 1s ease-in-out;
}
.col-bottom-left{
  position:absolute;
  top:0;
  left:25%;
  height:100%;
  width:25%;
  background:#d5eeff;
  z-index: 3;
  box-shadow:3px 3px 6px #888;
  animation:col_move .8s ease-in-out;
}
.col-top-right{
  position:absolute;
  top:0;
  left:50%;
  height:100%;
  width:25%;
  background:#78BBE6;
  z-index: 2;
  box-shadow:3px 3px 6px #888;
  animation:col_move .6s ease-in-out;
}
.col-bottom-right{
  position:absolute;
  top:0;
  left:75%;
  height:100%;
  width:25%;
  background:#1B435D;
  z-index: 1;
  box-shadow:3px 3px 6px #888;
  animation:col_move .4s ease-in-out;
}
/* END column view */




/* START row view */

.row-top-left{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:25%;
  background:#ff89fd;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
  animation:row_move 1s ease-in-out;
}
.row-bottom-left{
  position:absolute;
  top:25%;
  left:0;
  width:100%;
  height:25%;
  background:#d5eeff;
  z-index: 3;
  box-shadow:3px 3px 6px #888;
  animation:row_move .8s ease-in-out;
}
.row-top-right{
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  height:25%;
  background:#78BBE6;
  z-index: 2;
  box-shadow:3px 3px 6px #888;
  animation:row_move .6s ease-in-out;
}
.row-bottom-right{
  position:absolute;
  top:75%;
  left:0;
  width:100%;
  height:25%;
  background:#1B435D;
  z-index: 1;
  box-shadow:3px 3px 6px #888;
  animation:row_move .4s ease-in-out;
}

/* END row view */

/* START border view */

.border-top-left{
  position:absolute;
  top:0;
  left:0;
  width:25%;
  height:75%;
  background:#ff89fd;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
}
.border-bottom-left{
  position:absolute;
  bottom:0;
  left:0;
  height:25%;
  width:75%;
  background:#d5eeff;
  z-index: 3;
  box-shadow:3px 3px 6px #888;
}
.border-top-right{
  position:absolute;
  top:0;
  right:0;
  height:25%;
  width:75%;
  background:#78BBE6;
  z-index: 2;
  box-shadow:3px 3px 6px #888;
}
.border-bottom-right{
  position:absolute;
  bottom:0;
  right:0;
  width:25%;
  height:75%;
  background:#1B435D;
  z-index: 1;
  box-shadow:3px 3px 6px #888;
}

/* END border view */

/* START reset the display properties */
#column-layout, #row-layout{
  display:inline-block;
}
#default-layout, #border-layout{
  display:inline-block;
}

#column-layout img, #row-layout img{
  box-shadow:1px 1px 6px #111;
}
#default-layout img, #border-layout img{
  box-shadow:1px 1px 6px #111;
}
/* END reset the display properties */



/* UI MENU css stylings */


.ui-changer-menu{
  display:none;
  position:absolute;
  top:0;
  left:0;
  height:13%;
  width:100%;
  background:#222;
  box-shadow:2px 2px 5px #222;
  text-align:center;
  z-index:200;
}
.ui-changer-menu img{
  height:60px;
  width:60px;
  margin:10px 15px;
  border-radius:6px;
  box-shadow: 2px 2px 5px #222;
}
.ui-changer-menu img:hover{
  animation: turn .2s infinite;
}
#close{
  position:absolute;
  top:20%;
  left:2%;
}
#close:hover{
  animation: turn .2s infinite;
}
#close img{
  animation:none;
  height:30px;
  width:30px;
  cursor:pointer;
}
.pull-me{
  display:block;
  z-index: 100;
  position:fixed;
  top:0;
  left:50%;
  height:40px;
  width:auto;
}
.pull-me img{
  position:absolute;
  top:50%;
  left:50%;
  padding:20px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  background:rgba(0,0,0,0.2);
  box-shadow:1px 1px 6px #111;
  display:block;
  height:40px;
  width:40px;
  margin:-20px 0 0 -35px;
  cursor:pointer;
}
.pull-me img:hover{
  background:rgba(0,0,0,0.7);
}
.down{
  top:10%;
}



/* UI VIEW OPEN styling */

.def-top-left-open{
  height:90%;
  width:90%;
}
.def-bottom-left-open{
  height:90%;
  width:90%;
}
.def-top-right-open{
  height:90%;
  width:90%;
}
.def-bottom-right-open{
  height:90%;
  width:90%;
}
/* change the importance */
.importance{
  z-index: 50;
}






/* row animation */
@-webkit-keyframes row_move{
  0%    {width:0%;}
  100%  {width:100%;}
}
@-moz-keyframes row_move{
  0%    {width:0%;}
  100%  {width:100%;}
}
@keyframes row_move{
  0%    {width:0%;}
  100%  {width:100%;}
}

/* column animation */
@-webkit-keyframes col_move{
  0%    {height:0%;}
  100%  {height:100%;}
}
@-moz-keyframes col_move{
  0%    {height:0%;}
  100%  {height:100%;}
}
@keyframes col_move{
  0%    {height:0%;}
  100%  {height:100%;}
}

/* border animation */
@-webkit-keyframes border_move{
  0%    {height:0%;width:0%;}
  100%  {height:100%;width:100%;}
}
@-moz-keyframes border_move{
  0%    {height:0%;width:0%;}
  100%  {height:100%;width:100%;}
}
@keyframes border_move{
  0%    {height:0%;width:0%;}
  100%  {height:100%;width:100%;}
}

/* default animation */
@-webkit-keyframes default_move{

}
@-moz-keyframes default_move{

}
@keyframes default_move{

}





/* icon hover rotate effect */
@-webkit-keyframes turn{
  0%    {transform:rotate(0deg);}
  25%   {transform:rotate(5deg);}
  75%   {transform:rotate(0deg);}
  100%  {transform:rotate(-5deg);}
}
@-moz-keyframes turn{
  0%    {transform:rotate(0deg);}
  50%   {transform:rotate(5deg);}
  75%   {transform:rotate(0deg);}
  100%  {transform:rotate(-5deg);}
}
@keyframes turn{
  0%    {transform:rotate(0deg);}
  50%   {transform:rotate(5deg);}
  75%   {transform:rotate(0deg);}
  100%  {transform:rotate(-5deg);}
}
