

.def-top-left{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:50%;
  z-index: 4;
  background:#ff89fd;
}
.def-bottom-left{
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  width:50%;
  height:50%;
  z-index: 3;
  background:#d5eeff;
}
.def-top-right{
  display:block;
  position:absolute;
  top:0;
  right:0;
  height:50%;
  width:50%;
  z-index: 2;
  background:#78BBE6;
}
.def-bottom-right{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  height:50%;
  width:50%;
  z-index: 1;
  background:#1B435D;
}



/* views: quarter(default), column, row, border */

/*
  remove all animations and then rework them after
  everything is figured out.
*/


/* START column view */

.col-top-left{
  display:block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:25%;
  background:#ff89fd;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
}
.col-bottom-left{
  display:block;
  position:absolute;
  top:0;
  left:25%;
  height:100%;
  width:25%;
  background:#d5eeff;
  z-index: 3;
  box-shadow:3px 3px 6px #888;
}
.col-top-right{
  display:block;
  position:absolute;
  top:0;
  left:50%;
  height:100%;
  width:25%;
  background:#78BBE6;
  z-index: 2;
  box-shadow:3px 3px 6px #888;
}
.col-bottom-right{
  display:block;
  position:absolute;
  top:0;
  left:75%;
  height:100%;
  width:25%;
  background:#1B435D;
  z-index: 1;
  box-shadow:3px 3px 6px #888;
}
/* END column view */




/* START row view */

.row-top-left{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:25%;
  background:#ff89fd;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
}
.row-bottom-left{
  display:block;
  position:absolute;
  top:25%;
  left:0;
  width:100%;
  height:25%;
  background:#d5eeff;
  z-index: 3;
  box-shadow:3px 3px 6px #888;
}
.row-top-right{
  display:block;
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  height:25%;
  background:#78BBE6;
  z-index: 2;
  box-shadow:3px 3px 6px #888;
}
.row-bottom-right{
  display:block;
  position:absolute;
  top:75%;
  left:0;
  width:100%;
  height:25%;
  background:#1B435D;
  z-index: 1;
  box-shadow:3px 3px 6px #888;
}

/* END row view */

/* START border view */

.border-top-left{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:25%;
  height:75%;
  background:#ff89fd;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
}
.border-bottom-left{
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  height:25%;
  width:75%;
  background:#d5eeff;
  z-index: 3;
  box-shadow:3px 3px 6px #888;
}
.border-top-right{
  display:block;
  position:absolute;
  top:0;
  right:0;
  height:25%;
  width:75%;
  background:#78BBE6;
  z-index: 2;
  box-shadow:3px 3px 6px #888;
}
.border-bottom-right{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  width:25%;
  height:75%;
  background:#1B435D;
  z-index: 1;
  box-shadow:3px 3px 6px #888;
}
/* END border view */

/* START reset the display properties */
#column-layout, #row-layout{
  display:inline-block;
}
#default-layout, #border-layout{
  display:inline-block;
}

#column-layout img, #row-layout img{
  box-shadow:1px 1px 6px #111;
}
#default-layout img, #border-layout img{
  box-shadow:1px 1px 6px #111;
}
/* END reset the display properties */
