

.def-top-left{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:50%;
  z-index: 4;
  background-color:#444;
  background-size:cover;
  background-position:right top;
  background-repeat:no-repeat;
  box-shadow:3px 3px 6px #333;
  border-bottom-right-radius:10px;
}
.def-bottom-left{
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  width:50%;
  height:50%;
  z-index: 3;
  background: #50C9C3;
  background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA);
  background: linear-gradient(to left, #50C9C3 , #96DEDA);
  box-shadow:3px 3px 6px #333;
  border-top-right-radius:10px;
}
.def-top-right{
  display:block;
  position:absolute;
  top:0;
  right:0;
  height:50%;
  width:50%;
  z-index: 2;
  background: #2c3e50;
  background: -webkit-linear-gradient(to left, #2c3e50 , #3498db);
  background: linear-gradient(to left, #2c3e50 , #3498db);
  box-shadow:3px 3px 6px #333;
  border-bottom-left-radius:10px;
}
.def-bottom-right{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  height:50%;
  width:50%;
  z-index: 1;
  box-shadow:3px 3px 6px #333;
  border-top-left-radius:10px;
  background: #304352;
  background: -webkit-linear-gradient(to left, #304352 , #d7d2cc);
  background: linear-gradient(to left, #304352 , #d7d2cc);
}



/* views: quarter(default), column, row, border */

/*
  remove all animations and then rework them after
  everything is figured out.
*/


/* START column view */

.col-top-left{
  display:block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:25%;
  background-color:#444;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
  animation: col_move 1s ease-in-out;
}
.col-bottom-left{
  display:block;
  position:absolute;
  top:0;
  left:25%;
  height:100%;
  width:25%;
  background: #50C9C3;
  background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA);
  background: linear-gradient(to left, #50C9C3 , #96DEDA);
  box-shadow:3px 3px 6px #333;
  z-index: 3;
  animation: col_move .8s ease-in-out;
}
.col-top-right{
  display:block;
  position:absolute;
  top:0;
  left:50%;
  height:100%;
  width:25%;
  background: #2c3e50;
  background: -webkit-linear-gradient(to left, #2c3e50 , #3498db);
  background: linear-gradient(to left, #2c3e50 , #3498db);
  box-shadow:3px 3px 6px #333;
  z-index: 2;
  animation: col_move .6s ease-in-out;
}
.col-bottom-right{
  display:block;
  position:absolute;
  top:0;
  left:75%;
  height:100%;
  width:25%;
  box-shadow:3px 3px 6px #333;
  background: #304352;
  background: -webkit-linear-gradient(to left, #304352 , #d7d2cc);
  background: linear-gradient(to left, #304352 , #d7d2cc);
  z-index: 1;
  animation: col_move .4s ease-in-out;
}
/* END column view */




/* START row view */

.row-top-left{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:25%;
  background-color:#444;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
  animation:row_move 1s ease-in-out;
}
.row-bottom-left{
  display:block;
  position:absolute;
  top:25%;
  left:0;
  width:100%;
  height:25%;
  background: #50C9C3;
  background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA);
  background: linear-gradient(to left, #50C9C3 , #96DEDA);
  box-shadow:3px 3px 6px #333;
  z-index: 3;
  animation:row_move .8s ease-in-out;
}
.row-top-right{
  display:block;
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  height:25%;
  background: #2c3e50;
  background: -webkit-linear-gradient(to left, #2c3e50 , #3498db);
  background: linear-gradient(to left, #2c3e50 , #3498db);
  box-shadow:3px 3px 6px #333;
  z-index: 2;
  animation:row_move .6s ease-in-out;
}
.row-bottom-right{
  display:block;
  position:absolute;
  top:75%;
  left:0;
  width:100%;
  height:25%;
  box-shadow:3px 3px 6px #333;
  background: #304352;
  background: -webkit-linear-gradient(to left, #304352 , #d7d2cc);
  background: linear-gradient(to left, #304352 , #d7d2cc);
  z-index: 1;
  animation:row_move .4s ease-in-out;
}

/* END row view */

/* START border view */

.border-top-left{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:25%;
  height:75%;
  background-color:#444;
  z-index: 4;
  box-shadow:3px 3px 6px #888;
  animation:tl_border_move 1s ease-in-out;
}
.border-bottom-left{
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  height:25%;
  width:75%;
  background: #50C9C3;
  background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA);
  background: linear-gradient(to left, #50C9C3 , #96DEDA);
  box-shadow:3px 3px 6px #333;
  z-index: 3;
  animation:bl_border_move .8s ease-in-out;
}
.border-top-right{
  display:block;
  position:absolute;
  top:0;
  right:0;
  height:25%;
  width:75%;
  background: #2c3e50;
  background: -webkit-linear-gradient(to left, #2c3e50 , #3498db);
  background: linear-gradient(to left, #2c3e50 , #3498db);
  box-shadow:3px 3px 6px #333;
  z-index: 2;
  animation:tr_border_move .6s ease-in-out;
}
.border-bottom-right{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  width:25%;
  height:75%;
  box-shadow:3px 3px 6px #333;
  background: #304352;
  background: -webkit-linear-gradient(to left, #304352 , #d7d2cc);
  background: linear-gradient(to left, #304352 , #d7d2cc);
  z-index: 1;
  animation:br_border-move .4s ease-in-out;
}
/* END border view */

/* START reset the display properties */
#column-layout, #row-layout{
  display:inline-block;
}
#default-layout, #border-layout{
  display:inline-block;
}

#column-layout img, #row-layout img{
  box-shadow:1px 1px 6px #111;
}
#default-layout img, #border-layout img{
  box-shadow:1px 1px 6px #111;
}
/* END reset the display properties */
