/* default opening */
.def-top-left-open{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:90%;
  height:90%;
  z-index:5;
  background-color:#444;
  background-size:contain;
  background-position:right top;
  background-repeat:no-repeat;
  box-shadow:3px 3px 6px #333;
  border-bottom-right-radius:10px;
}
.def-bottom-left-open{
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  width:90%;
  height:90%;
  z-index:5;
  box-shadow:3px 3px 6px #333;
  border-top-right-radius:10px;
  background: #50C9C3;
  background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA);
  background: linear-gradient(to left, #50C9C3 , #96DEDA);
}
.def-top-right-open{
  display:block;
  position:absolute;
  top:0;
  right:0;
  height:90%;
  width:90%;
  z-index: 5;
  background: #2c3e50;
  box-shadow:3px 3px 6px #333;
  border-bottom-left-radius:10px;
  background: -webkit-linear-gradient(to left, #2c3e50 , #3498db);
  background: linear-gradient(to left, #2c3e50 , #3498db);
}
.def-bottom-right-open{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  height:90%;
  width:90%;
  z-index: 5;
  background: #304352;  box-shadow:3px 3px 6px #333;
  background: -webkit-linear-gradient(to left, #304352 , #d7d2cc);
  background: linear-gradient(to left, #304352 , #d7d2cc);
  box-shadow:3px 3px 6px #333;
  border-top-left-radius:10px;
}



/* column opening */
.col-top-left-open{
  display:block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:75%;
  background:#ff89fd;
  z-index:5;
}
.col-bottom-left-open{
  display:block;
  position:absolute;
  top:0;
  left:25%;
  height:100%;
  width:75%;
  background:#d5eeff;
  z-index:5;
}
.col-top-right-open{
  display:block;
  position:absolute;
  top:0;
  left:25%;
  height:100%;
  width:100%;
  background:#78bbe6;
  z-index:5;
}
.col-bottom-right-open{
  display:block;
  position:absolute;
  top:0;
  right:0;
  height:100%;
  width:75%;
  background:#1b435d;
  z-index:5;
}



/* default opening */
.row-top-left-open{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:75%;
  background:#ff89fd;
  z-index:5;
}
.row-bottom-left-open{
  display:block;
  position:absolute;
  top:25%;
  left:0;
  width:100%;
  height:100%;
  background:#d5eeff;
  z-index: 5;
}
.row-top-right-open{
  display:block;
  position:absolute;
  bottom:25%;
  left:0;
  width:100%;
  height:100%;
  z-index: 5;
  background:#78bbe6;
}
.row-bottom-right-open{
  display:block;
  position:absolute;
  bottom:0%;
  left:0;
  width:100%;
  height:75%;
  z-index: 5;
  background:#1b435d;
}



/* default opening */
.border-top-left-open{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:75%;
  height:75%;
  background:#ff89fd;
  z-index: 5;
}
.border-bottom-left-open{
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  height:75%;
  width:75%;
  background:#d5eeff;
  z-index:5;
}
.border-top-right-open{
  display:block;
  position:absolute;
  top:0;
  right:0;
  height:75%;
  width:75%;
  background:#78bbe6;
  z-index: 5;
}
.border-bottom-right-open{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  width:75%;
  height:75%;
  background:#1b435d;
  z-index: 5;
}
