/* ----------------------------------------- */
/*        top-left text content here         */
/* ----------------------------------------- */

/* 1300 / 2 = 650px */




.def-home-title{
  width:80%;
  margin:auto;
  color:white;
  /*border:1px dashed red;*/
}
.def-home-title .main-title{
  position:absolute;
  top:5%;
  left:5%;
  width:400px;
  color:white;
  font-family:'lato';
  font-size:50px;
  font-style:italic;
}
.def-home-title .title{
  position:absolute;
  bottom:8%;
  right:5%;
  font-family:'playball';
  font-size:45px;
  text-align:right;
  /*border:1px dashed green;*/
}
.def-home-title .kicker-container{
  position:absolute;
  bottom:3%;
  right:5%;
  font-family:'roboto';
  font-style:italic;
  font-size:20px;
  text-align:right;
  /*border:1px dashed grey;*/
}



.def-about-title{
  width:80%;
  margin:auto;
  color:444;
}
.def-about-title .title{
  position:absolute;
  bottom:8%;
  left:5%;
  font-family:'lato';
  font-size:50px;
}
.def-about-title .title span{
  font-family:'playball';
}
.def-about-content .skillset{
  position:absolute;
  top:10%;
  right:55%;
  height:50%;
  width:40%;
  text-align:right;
}
.def-about-content .skillset .skill-title{
  font-family:'playball';
  font-size:40px;
  text-align:center;
}
.def-about-content .skillset .skill-container{
    height:100%;
    width:90%;
    margin:auto;
    text-align:center;
}
.def-about-content .skillset .skill{
  font-family:'playball';
  font-size:18px;
  text-align:left;
  height:100px;
  width:45%;
  margin:0 5px;
  display:inline-block;
  position:relative;
}
.def-about-content .skillset .skill .sub-title{
  margin-right:10px;
}
.skill-amt{
  font-family:'lato';
  font-size:14px;
  color:white;
}
.html{
  width:100%;
  height:25px;
  background:black;
  border-radius:8px;
}
.css{
  width:100%;
  height:25px;
  background:black;
  border-radius:8px;
}
.js{
  width:95%;
  height:25px;
  background:black;
  border-radius:8px;
}
.php{
  width:70%;
  height:25px;
  background:black;
  border-radius:8px;
}
.organize{
  width:100%;
  height:25px;
  background:black;
  border-radius:8px;
}
.adobe{
  width:65%;
  height:25px;
  background:black;
  border-radius:8px;
}
.def-about-content .content{
  display:block;
  font-size:18px;
  font-family:'lato';
  font-style:italic;
  position:absolute;
  top:30%;
  left:55%;
  width:40%;
  height:30%;
  overflow:hidden;
}
.def-work-title{
  position:absolute;
  top:8%;
  right:5%;
  font-size:40px;
  font-family:'lato';
  font-style:italic;
}

/* START blog section */

.blog-container{
  margin-top:5%;
  margin-left:2%;
  height:70vh;
  width:50%;
  overflow:auto;
  padding:15px 0;
}
.blog-container::-webkit-scrollbar{
  width:2px !important;
}
.blog:first-child{
  margin-top:20px;
}
.blog{
  display:block;
  position:relative;
  margin: 0px 15px 30px 15px;
  border-radius:5px;
  box-shadow:1px 2px 10px 3px #555;
  padding:12px 10px;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blog-title{
  font-family:'roboto';
  font-size:26px;
  font-style:italic;
  color:white;
}
.mini-blog-description{
  font-family:'playball';
  font-size:18px;
  padding:10px 0;
  color:rgba(255,255,255,0.8);
}
.date-created{
  font-family:'lato';
  font-size:16px;
  color:rgba(0,0,0,0.5);
  position:absolute;
  top:2%;
  right:2%;
}
/* END blog section */


.def-contact-title{
  position:absolute;
  bottom:8%;
  right:5%;
  font-size:40px;
  font-family:'lato';
  font-style:italic;
}
